on:
  pull_request:
    branches:
    - master
jobs:
  format-check:
    name: Format Check w/ ESLint
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Check Formatting
        run: |
          npm i
          npm run lint
